@media (max-width: 1140px){

    html{
        font-size: 40%;
    }

    .mypic{
        width: 210px;
        height: 250px;
    }
    
}

@media (max-width:635px){
    html{
        font-size: 30%;
        }

        .mypic{
            width: 210px;
            height: 250px;
        }
}

@media(max-width:420px){
    html{
        font-size: 20%;
        
    }
}

